html,body{
	height: 100%;
  	width: 100%;
    color: white;
    background-image: url("../images/5509862.jpg");
    margin: 0px;
    font-family: 'Permanent Marker', cursive;
}

section{
	height: 100%;
	width: 100%;
    display: flex;
}

h1{
	text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
	background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 1.0rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    font-size: 1.5rem;
}

.nav-link{
    font-weight: 400;
    color: #101010;
}

.nav-link:hover{
    color: #2874A6;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #2874A6;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -200%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

	.hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}


.img-caroussel{
    height: 600px;
    width: 600px;
    margin-left: 10%;
    margin-top: 10%;
}

.img-caroussel img{
    height: 100%;
    width: 100%;
}

.desc-caroussel{
    height: 500px;
    width: 600px;
    margin-left: 10%;
    margin-top: 12%;
    border-radius: 20%;
    background-color: #fff;
    align-content: center;
}

.desc-caroussel p{
    text-align: center;
    font-size: x-large;
    color: #101010;
    font-family: 'Permanent Marker', cursive;
}

#root{
    width: 100%;
    height: 100%;
}

.ul-wallet{
    text-align: center;
    font-size: 1.5rem;
}

.wallet{
    color: darkviolet;
}

.balance{
    color: darkviolet;
}
.remaining-li{
    margin-right: 20.0rem;
    font-size: 2.1rem;

}

.remaining{
    color: #D35400;
}

.mint-button{
    text-align: center;
    width: 100%;
}




